@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}
.main__productos {
    background-color: #ff0000;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#ff0000, #ffa500);
}
.main__productos .main__productos--title {
    color: #000000;
}
.main__productos .main__productos--title:hover {
    color: #dfd6cc;
}
#botonProductos{
    margin-left: 45%;
}